@model IEnumerable<BSTableBooking.Models.Session>

@{
    ViewData["Title"] = "Index";
}



<div class="container p-3">
    <div>
        <h2 class="text-primary">Sessions</h2>
    </div>
    <div class="col-6 align-items-end">
         @if (User.IsInRole("admin"))
      {
        <a asp-controller="Session" asp-action="Create" class="btn btn-primary" width="20%"><i class="bi bi-plus-circle-fill"></i>&nbsp;Create New Session</a>
      }
    </div>
</div>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model =>model.Qty)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SessionStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingSession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)

            </th>

           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td width="20%">
                @Html.DisplayFor(modelItem => item.SessionName)
            </td>
            <td width="20%">
                @Html.DisplayFor(modelItem => item.SessionDescription)
            </td>
                <td width="20%">
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td width="20%">
                    @Html.DisplayFor(modelItem => item.SessionStartTime)
                </td>
                <td width="20%">
                    @Html.DisplayFor(modelItem => item.SessionEndTime)
                </td>
                <td width="20%">
                    @Html.DisplayFor(modelItem => item.BookingSession)
                <td width="20%">
                        @Html.DisplayFor(modelItem => item.TableLocation)
                </td>
                <td width="20%">
                <img style="height:60px;width:80px" src="/Uploads/@item.Image" />
                </td>


            <td class="row justify-content-evenly">
                    <a asp-controller="Booking" asp-action="CreateBooking" asp-route-id="@item.SessionID" asp-route-qty="@item.Qty" asp-route-bookday="@item.SessionEndTime" asp-route-sessiontime="@item.BookingSession" class="btn btn-outline-primary btn- mx-3 ">Booking</a>
                @if (User.IsInRole("admin"))
                {
                    <a asp-controller="Session" asp-action="Edit" asp-route-id="@item.SessionID" class="btn btn-outline-primary mx-3">Edit</a>
                        <a asp-controller="Session" asp-action="Delete" asp-route-id="@item.SessionID" class="btn btn-outline-primary mx-3">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
