@model IEnumerable<BSTableBooking.Models.BookingInfo>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div>
        <h2 class="text-primary">Pick a Session</h2>
    </div>
  </div>
<br />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.SessionStartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SessionEndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookingSession)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TableLocation)
                    </th>


                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="20%">
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td width="20%">
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                        </td>
                        <td width="20%">
                            @Html.DisplayFor(modelItem => item.SessionStartTime)
                        </td>
                        <td width="20%">
                            @Html.DisplayFor(modelItem => item.SessionEndTime)
                        </td>
                        <td width="20%">
                            @Html.DisplayFor(modelItem => item.BookingSession)
                        <td width="20%">
                                @Html.DisplayFor(modelItem => item.TableLocation)
                        </td>


            <td>
                    <a asp-controller="Booking" asp-action="CreateOrder" asp-route-id="@item.ProuctId" class="btn btn-outline-primary mx-3">Order</a>
            </td>
        </tr>
}
    </tbody>
</table>
