@model BSTableBooking.Models.Booking

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
@*            @Html.DisplayNameFor(model => model.Session)*@
        </dt>
        <dd class = "col-sm-10">
      @*      @Html.DisplayFor(model => model.Session.SessionDescription)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
